Disclaimer: I do not understand or appreciate football. All analysis is based on my interpretation of the terms and may deviate from the actual meaning.

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("../PL18-19.csv")

In [4]:
data.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2018-08-10,Man United,Leicester,2,1,H,1,0,H,A Marriner,...,6,4,11,8,2,5,2,1,0,0
1,2018-08-11,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend,...,4,1,11,9,7,4,1,1,0,0
2,2018-08-11,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean,...,6,9,9,11,5,5,1,2,0,0
3,2018-08-11,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh,...,1,4,9,8,2,5,2,1,0,0
4,2018-08-11,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson,...,2,5,11,12,3,5,2,2,0,0

In [5]:
# Dictionary to store the new names of the columns
cols = {
    'FTHG' : 'Full Time Home Goals',
    'FTAG' : 'Full Time Away Goals',
    'FTR' : 'Full Time Result',
    'HTHG' : 'Half Time Home Goals',
    'HTAG' : 'Half Time Away Goals',
    'HTR' : 'Half Time Result',
    'HS' : 'Home Shots',
    'AS' : 'Away Shots',
    'HST': 'Home Shot Target',
    'AST': 'Away Shot Target',
    'HF' : 'Home Fouls',
    'AF' : 'Away Fouls',
    'HC' : 'Home Corners',
    'AC' : 'Away Corners',
    'HY' : 'Home Yellow Cards',
    'AY' : 'Away Yellow Cards',
    'HR' : 'Home Red Cards',
    'AR' : 'Away Red Cards'
}

In [9]:
# Renaming the columns
data.rename(columns = cols, inplace = True)

In [26]:
# Prints all participating teams in lexicographical order 
print(np.union1d(data.HomeTeam, data.AwayTeam))

['Arsenal' 'Bournemouth' 'Brighton' 'Burnley' 'Cardiff' 'Chelsea'
 'Crystal Palace' 'Everton' 'Fulham' 'Huddersfield' 'Leicester'
 'Liverpool' 'Man City' 'Man United' 'Newcastle' 'Southampton' 'Tottenham'
 'Watford' 'West Ham' 'Wolves']

In [27]:
# Prints maximum number of shots in a match
max(data['Home Shot Target'] + data['Away Shot Target'])

19

In [16]:
data[data['Referee'] == 'J Linington']

,Date,HomeTeam,AwayTeam,Full Time Home Goals,Full Time Away Goals,Full Time Result,Half Time Home Goals,Half Time Away Goals,Half Time Result,Referee,...,Home Shot Target,Away Shot Target,Home Fouls,Away Fouls,Home Corners,Away Corners,Home Yellow Cards,Away Yellow Cards,Home Red Cards,Away Red Cards
345,2019-04-22,Chelsea,Burnley,2,2,D,2,2,D,J Linington,...,3,3,10,11,5,10,3,1,0,0

In [17]:
# Prints the number of cards given out by each referee
total_cards = data['Home Yellow Cards'] + data['Away Yellow Cards'] + data['Home Red Cards'] + data['Away Red Cards']
total_cards.groupby(data['Referee']).sum()

Referee
A Madley         2
A Marriner      76
A Taylor       103
C Kavanagh      76
C Pawson        99
D Coote         35
G Scott         39
J Linington      4
J Moss          98
K Friend        92
L Mason         64
L Probert       50
M Atkinson      92
M Dean         137
M Oliver        90
P Tierney       83
R East          44
S Attwell       64
S Hooper        20
dtype: int64

In [36]:
print(data['Home Yellow Cards'].groupby(data['HomeTeam']).count())

HomeTeam
Arsenal           19
Bournemouth       19
Brighton          19
Burnley           19
Cardiff           19
Chelsea           19
Crystal Palace    19
Everton           19
Fulham            19
Huddersfield      19
Leicester         19
Liverpool         19
Man City          19
Man United        19
Newcastle         19
Southampton       19
Tottenham         19
Watford           19
West Ham          19
Wolves            19
Name: Home Yellow Cards, dtype: int64

In [59]:
# To print teams with maximum cards in the season
HomeYellow = data['Home Yellow Cards'].groupby(data['HomeTeam']).sum()
HomeRed = data['Home Red Cards'].groupby(data['HomeTeam']).sum()
AwayYellow = data['Away Yellow Cards'].groupby(data['AwayTeam']).sum()
AwayRed = data['Away Red Cards'].groupby(data['AwayTeam']).sum()

TotalCards = HomeYellow + HomeRed + AwayYellow + AwayRed

print("The team with maximum cards during the season is: ", end = " ")
print(TotalCards[TotalCards == max(TotalCards)].index[0])

The team with maximum cards during the season is:  Watford

In [80]:
# Referee with maximum home wins
HomeWin = data[data['Full Time Result'] == 'H']
HomeWinPerReferee = HomeWin.groupby(HomeWin['Referee'])['Date'].count()
print(HomeWinPerReferee[HomeWinPerReferee == max(HomeWinPerReferee)].index[0])

A Taylor

In [9]:
# Half time winner is full time winner
half_and_full_winner = data[data['Half Time Result'] == data['Full Time Result']]
print("Percentage where half time winner is the full time winner =", (half_and_full_winner.size / data.size) * 100)

Percentage where half time winner is the full time winner = 60.0

In [26]:
# Ratio of average shots on target  to total shots
data_target = data['Home Shot Target'] + data['Away Shot Target']
data_shot = data['Home Shots'] + data['Away Shots']
average_shots = data_shot.sum()/data.size
average_target = data_target.sum()/data.size
print("Ratio of average shots on target to total shots =", round(average_target/average_shots, 2))

Ratio of average shots on target to total shots = 0.34

Part 2

In [8]:
data.head()

,Date,HomeTeam,AwayTeam,Full Time Home Goals,Full Time Away Goals,Full Time Result,Half Time Home Goals,Half Time Away Goals,Half Time Result,Referee,...,Home Shot Target,Away Shot Target,Home Fouls,Away Fouls,HC,AC,Home Yellow Cards,Away Yellow Cards,Home Red Cards,Away Red Cards
0,2018-08-10,Man United,Leicester,2,1,H,1,0,H,A Marriner,...,6,4,11,8,2,5,2,1,0,0
1,2018-08-11,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend,...,4,1,11,9,7,4,1,1,0,0
2,2018-08-11,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean,...,6,9,9,11,5,5,1,2,0,0
3,2018-08-11,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh,...,1,4,9,8,2,5,2,1,0,0
4,2018-08-11,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson,...,2,5,11,12,3,5,2,2,0,0

In [74]:
winner = []
loser = []
drawn = []
for i in range(len(data)):
    if (data.loc[i, 'Full Time Result'] == 'H'):
        winner.append(data.loc[i, 'HomeTeam'])
        loser.append(data.loc[i, 'AwayTeam'])
        
    elif(data.loc[i, 'Full Time Result'] == 'A'):
        winner.append(data.loc[i, 'AwayTeam'])
        loser.append(data.loc[i, 'HomeTeam'])
    elif(data.loc[i, 'Full Time Result'] == 'D'):
        drawn.append(data.loc[i, 'AwayTeam'])
        drawn.append(data.loc[i, 'HomeTeam'])

In [75]:
winner = pd.Series(winner)
loser = pd.Series(loser)
drawn = pd.Series(drawn)

In [76]:
winner_table = pd.DataFrame(winner.value_counts(), columns = ['Won'])
loser_table = pd.DataFrame(loser.value_counts(), columns = ['Lost'])
draw_table = pd.DataFrame(drawn.value_counts(), columns = ['Drawn'])

In [77]:
winner_table['Lost'] = loser_table
winner_table['Drawn'] = draw_table

In [78]:
winner_table

                Won  Lost  Drawn
Man City         32     4      2
Liverpool        30     1      7
Tottenham        23    13      2
Arsenal          21    10      7
Chelsea          21     8      9
Man United       19    10      9
Wolves           16    13      9
West Ham         15    16      7
Everton          15    14      9
Leicester        15    16      7
Crystal Palace   14    17      7
Watford          14    16      8
Bournemouth      13    19      6
Newcastle        12    17      9
Burnley          11    20      7
Cardiff          10    24      4
Brighton          9    20      9
Southampton       9    17     12
Fulham            7    26      5
Huddersfield      3    28      7

In [79]:
winner_table['Played'] = winner_table['Won'] + winner_table['Lost'] + winner_table['Drawn']

In [80]:
table = winner_table[['Played', 'Won', 'Drawn', 'Lost']]

In [81]:
table

                Played  Won  Drawn  Lost
Man City            38   32      2     4
Liverpool           38   30      7     1
Tottenham           38   23      2    13
Arsenal             38   21      7    10
Chelsea             38   21      9     8
Man United          38   19      9    10
Wolves              38   16      9    13
West Ham            38   15      7    16
Everton             38   15      9    14
Leicester           38   15      7    16
Crystal Palace      38   14      7    17
Watford             38   14      8    16
Bournemouth         38   13      6    19
Newcastle           38   12      9    17
Burnley             38   11      7    20
Cardiff             38   10      4    24
Brighton            38    9      9    20
Southampton         38    9     12    17
Fulham              38    7      5    26
Huddersfield        38    3      7    28

In [83]:
table['Points'] = (3 * table['Won']) + table['Drawn']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [88]:
table.sort_values(by = 'Points', inplace = True, ascending = False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [87]:
table

                Played  Won  Drawn  Lost  Points
Huddersfield        38    3      7    28      16
Fulham              38    7      5    26      26
Cardiff             38   10      4    24      34
Brighton            38    9      9    20      36
Southampton         38    9     12    17      39
Burnley             38   11      7    20      40
Newcastle           38   12      9    17      45
Bournemouth         38   13      6    19      45
Crystal Palace      38   14      7    17      49
Watford             38   14      8    16      50
Leicester           38   15      7    16      52
West Ham            38   15      7    16      52
Everton             38   15      9    14      54
Wolves              38   16      9    13      57
Man United          38   19      9    10      66
Arsenal             38   21      7    10      70
Tottenham           38   23      2    13      71
Chelsea             38   21      9     8      72
Liverpool           38   30      7     1      97
Man City            38   32      2     4      98

In [89]:
data.head()

,Date,HomeTeam,AwayTeam,Full Time Home Goals,Full Time Away Goals,Full Time Result,Half Time Home Goals,Half Time Away Goals,Half Time Result,Referee,...,Home Shot Target,Away Shot Target,Home Fouls,Away Fouls,HC,AC,Home Yellow Cards,Away Yellow Cards,Home Red Cards,Away Red Cards
0,2018-08-10,Man United,Leicester,2,1,H,1,0,H,A Marriner,...,6,4,11,8,2,5,2,1,0,0
1,2018-08-11,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend,...,4,1,11,9,7,4,1,1,0,0
2,2018-08-11,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean,...,6,9,9,11,5,5,1,2,0,0
3,2018-08-11,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh,...,1,4,9,8,2,5,2,1,0,0
4,2018-08-11,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson,...,2,5,11,12,3,5,2,2,0,0

In [96]:
table['GF'] = 0
for i in range(len(data)):
    table.loc[data.loc[i, 'HomeTeam'], 'GF'] += data.loc[i, 'Full Time Home Goals']
    table.loc[data.loc[i, 'AwayTeam'], 'GF'] += data.loc[i, 'Full Time Away Goals']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [94]:
table

                Played  Won  Drawn  Lost  Points  GF
Man City            38   32      2     4      98  95
Liverpool           38   30      7     1      97  89
Chelsea             38   21      9     8      72  63
Tottenham           38   23      2    13      71  67
Arsenal             38   21      7    10      70  73
Man United          38   19      9    10      66  65
Wolves              38   16      9    13      57  47
Everton             38   15      9    14      54  54
West Ham            38   15      7    16      52  52
Leicester           38   15      7    16      52  51
Watford             38   14      8    16      50  52
Crystal Palace      38   14      7    17      49  51
Bournemouth         38   13      6    19      45  56
Newcastle           38   12      9    17      45  42
Burnley             38   11      7    20      40  45
Southampton         38    9     12    17      39  45
Brighton            38    9      9    20      36  35
Cardiff             38   10      4    24      34  34
Fulham              38    7      5    26      26  34
Huddersfield        38    3      7    28      16  22

In [97]:
table['GA'] = 0
for i in range(len(data)):
    table.loc[data.loc[i, 'AwayTeam'], 'GA'] += data.loc[i, 'Full Time Home Goals']
    table.loc[data.loc[i, 'HomeTeam'], 'GA'] += data.loc[i, 'Full Time Away Goals']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [98]:
table

                Played  Won  Drawn  Lost  Points  GF  GA
Man City            38   32      2     4      98  95  23
Liverpool           38   30      7     1      97  89  22
Chelsea             38   21      9     8      72  63  39
Tottenham           38   23      2    13      71  67  39
Arsenal             38   21      7    10      70  73  51
Man United          38   19      9    10      66  65  54
Wolves              38   16      9    13      57  47  46
Everton             38   15      9    14      54  54  46
West Ham            38   15      7    16      52  52  55
Leicester           38   15      7    16      52  51  48
Watford             38   14      8    16      50  52  59
Crystal Palace      38   14      7    17      49  51  53
Bournemouth         38   13      6    19      45  56  70
Newcastle           38   12      9    17      45  42  48
Burnley             38   11      7    20      40  45  68
Southampton         38    9     12    17      39  45  65
Brighton            38    9      9    20      36  35  60
Cardiff             38   10      4    24      34  34  69
Fulham              38    7      5    26      26  34  81
Huddersfield        38    3      7    28      16  22  76

In [99]:
table['GD'] = table['GF'] - table['GA']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [105]:
table.sort_values(by = ['Points', 'GD'], inplace = True, ascending = False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [106]:
table

                Played  Won  Drawn  Lost  Points  GF  GA  GD
Man City            38   32      2     4      98  95  23  72
Liverpool           38   30      7     1      97  89  22  67
Chelsea             38   21      9     8      72  63  39  24
Tottenham           38   23      2    13      71  67  39  28
Arsenal             38   21      7    10      70  73  51  22
Man United          38   19      9    10      66  65  54  11
Wolves              38   16      9    13      57  47  46   1
Everton             38   15      9    14      54  54  46   8
Leicester           38   15      7    16      52  51  48   3
West Ham            38   15      7    16      52  52  55  -3
Watford             38   14      8    16      50  52  59  -7
Crystal Palace      38   14      7    17      49  51  53  -2
Newcastle           38   12      9    17      45  42  48  -6
Bournemouth         38   13      6    19      45  56  70 -14
Burnley             38   11      7    20      40  45  68 -23
Southampton         38    9     12    17      39  45  65 -20
Brighton            38    9      9    20      36  35  60 -25
Cardiff             38   10      4    24      34  34  69 -35
Fulham              38    7      5    26      26  34  81 -47
Huddersfield        38    3      7    28      16  22  76 -54

In [107]:
table = table[['Played', 'Won', 'Drawn', 'Lost', 'GF', 'GA', 'GD', 'Points']]

In [108]:
table

                Played  Won  Drawn  Lost  GF  GA  GD  Points
Man City            38   32      2     4  95  23  72      98
Liverpool           38   30      7     1  89  22  67      97
Chelsea             38   21      9     8  63  39  24      72
Tottenham           38   23      2    13  67  39  28      71
Arsenal             38   21      7    10  73  51  22      70
Man United          38   19      9    10  65  54  11      66
Wolves              38   16      9    13  47  46   1      57
Everton             38   15      9    14  54  46   8      54
Leicester           38   15      7    16  51  48   3      52
West Ham            38   15      7    16  52  55  -3      52
Watford             38   14      8    16  52  59  -7      50
Crystal Palace      38   14      7    17  51  53  -2      49
Newcastle           38   12      9    17  42  48  -6      45
Bournemouth         38   13      6    19  56  70 -14      45
Burnley             38   11      7    20  45  68 -23      40
Southampton         38    9     12    17  45  65 -20      39
Brighton            38    9      9    20  35  60 -25      36
Cardiff             38   10      4    24  34  69 -35      34
Fulham              38    7      5    26  34  81 -47      26
Huddersfield        38    3      7    28  22  76 -54      16